<h2>Reactivos: Basicos</h2>
<hr>

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="myForm">
      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input type="text"
            class="form-control"
            formControlName="nombre"
            placeholder="Producto"            
          >
          <span  *ngIf="nameValid('nombre')"
          class="form-text text-danger">
            Deben ser solo 5 letras
          </span>
        </div>
      </div>

      <!-- Campo de Precio -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input type="number"
            class="form-control"
            formControlName="precio"
            placeholder="Precio del producto">
          <span *ngIf="nameValid('precio')"
            class="form-text text-danger">
            El precio debe ser mayor a 0
          </span>    
        </div>
      </div>

       <!-- Campo de existencia -->
       <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencia</label>
        <div class="col-sm-9">
          <input type="number"
            class="form-control"
            formControlName="existencias"
            placeholder="Existenca del producto"                                
          >
          <span *ngIf="nameValid('existencias')"
          class="form-text text-danger">
          Las existencias deben ser mayor a 0
        </span>        
        </div>
      </div>
     

      <div class="row">
        <div class="col">
          <button type="submit"
            [disabled]="myForm.invalid"
            class="btn btn-primary float-end">
              Enviar
          </button>

        </div>
      </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ myForm.valid }}</pre>

    <span>Value</span>
    <pre>{{ myForm.value | json }}</pre>

    <span>Pristine</span>
    <pre>{{ myForm.pristine }}</pre>

    <span>Touched</span>
    <pre>{{ myForm.touched }}</pre>
        
  </div>
</div>