<h2>Template: Basicos</h2>
<hr>

<div class="row">
  <div class="col">
    <form (ngSubmit)="save(myForm)" #myForm="ngForm">
      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input type="text"
            class="form-control"
            placeholder="Producto"
            ngModel
            name="producto"
            autocomplete="off"
            required
            minlength="3"
          >
          <span class="form-text text-danger"
            *ngIf="nameValid()">
            Deben ser solo 9 letras
          </span>
        </div>
      </div>

      <!-- Campo de Precio -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input type="number"
            class="form-control"
            placeholder="Precio del producto"
            ngModel
            name="precio" 
            required           
          >        
          <span class="form-text text-danger"
            *ngIf="precioValid()">
            El precio debe ser mayor a 0
          </span>    
        </div>
      </div>

       <!-- Campo de existencia -->
       <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencia</label>
        <div class="col-sm-9">
          <input type="number"
            class="form-control"
            placeholder="Existenca del producto"
            ngModel
            name="existencia"
            customMin
            [minimo]="0"
            required                        
          >            
        </div>
      </div>
     

      <div class="row">
        <div class="col">
          <button type="submit" 
            [disabled]="myForm.invalid"
            class="btn btn-primary float-end">
              Enviar
          </button>

        </div>
      </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ myForm.valid }}</pre>

    <span>Value</span>
    <pre>{{ myForm.value | json }}</pre>

    <span>Pristine</span>
    <pre>{{ myForm.pristine }}</pre>

    <span>Touched</span>
    <pre>{{ myForm.touched }}</pre>

    <span>CutomDirective</span>
    <!-- <pre>{{ myForm?.controls?.['existencias']?.errors | json }}</pre> -->
  </div>
</div>